@font-face {
    font-family: Anonymous_Pro;
    src: url("../fonts/Anonymous_Pro.ttf");
  }
  
  @font-face {
    font-family: Anonymous_Pro_italic;
    font-style: italic;
    src: url("../fonts/Anonymous_Pro_I.ttf");
  }
  
  @font-face {
    font-family: Anonymous_Pro_bold;
    src: url("../fonts/Anonymous_Pro_B.ttf");
  }
  
  @font-face {
    font-family: Anonymous_Pro;
    src: url("../fonts/Anonymous_Pro.ttf");
  }
  
  @font-face {
    font-family: Anonymous_Pro;
    src: url("../fonts/Anonymous_Pro.ttf");
  }