#nprogress .spinner {
  display: none !important;
}
@font-face {
  font-family: Anonymous_Pro;
  src: url("./fonts/Anonymous_Pro.ttf");
}

@font-face {
  font-family: Anonymous_Pro_italic;
  font-style: italic;
  src: url("./fonts/Anonymous_Pro_I.ttf");
}

@font-face {
  font-family: Anonymous_Pro_bold;
  src: url("./fonts/Anonymous_Pro_B.ttf");
}

@font-face {
  font-family: Anonymous_Pro;
  src: url("./fonts/Anonymous_Pro.ttf");
}

@font-face {
  font-family: Anonymous_Pro;
  src: url("./fonts/Anonymous_Pro.ttf");
}

a {
  text-decoration: none !important;
  font-family: Anonymous_Pro;
}

p {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

span {
  color: white;
}

nav {
  padding: 18px 0 5px 0;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: white;

  .logo {
    img {
      position: relative;
      top: 10%;
      width: 100px;
      height: auto;
    }
  }

  .menu_items {
    position: relative;
    z-index: 10;
    .menu_item {
      display: flex;

      li {
        list-style: none !important;

        .active {
          background-color: #000000;
          background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
        }

        a {
          font-family: Anonymous_Pro_bold;
          color: white;
          // font-weight: bold;
          text-decoration: none;
          padding: 10px 10px 10px 10px;
          text-transform: uppercase;
          border-radius: 10px;
        }
        a:hover {
          background-color: #000000;
          background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
          padding: 10px 10px 10px 10px;
          border-radius: 10px;
        }
      }
    }
  }
}

html {
  cursor: red;
}

body {
  color: white;
  background-color: black;
  font-family: Anonymous_Pro;
  margin: 0 !important;
}

.d-none {
  display: none !important;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 570px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px !important;
  }
}

// home Hero
.home_hero {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  .Home_Description {
    position: relative;
    left: 10%;
    h1 {
      font-size: 18px;
      font-family: Anonymous_Pro;
      color: white;
    }
    span {
      font-size: 25px;
      font-family: Anonymous_Pro_bold;
    }
  }

  .Home_img {
    position: relative;
    right: 10%;
    img {
      width: 120px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  .home_hero {
    padding: 50px 0 0 0;
    .Home_Description {
      position: static;
      left: 0;
    }
  }
}

// Technology
.Technology {
  h2 {
    text-align: end;
    padding-right: 25px;
    font-size: 20px;
    font-family: Anonymous_Pro;
  }

  .Technology_boxes {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    .Technology_box {
      // background-color: #1d1d1d;
      border-radius: 10px;
      padding: 10px;
      // border: 3px solid transparent;
      height: auto;
      // width: 200px;
      .logo {
        img {
          width: 40px;
          height: auto;
        }
      }
    }
    .Technology_box:hover {
      background-color: #000000;
      background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    }
  }
}
.flex {
  display: flex;
  justify-content: space-between;
}

.Heading h2 {
  font-size: 20px;
  text-transform: uppercase !important;
}

.Home_projects {
  padding: 50px 0 0 0;
}

@media only screen and (max-width: 768px) {
  .Technology {
    .Technology_boxes {
      .Technology_box {
        padding: 0;
      }
    }
  }
}

// Project Boxes

.Projects_boxes {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .Project_box {
    border-radius: 10px;
    padding: 10px;
    // border: 1px solid rgba(124, 124, 124, 0);
    height: auto;
    width: 300px;
    .Project_image {
      img {
        height: auto;
        width: 300px;
      }
    }

    .Project_desc {
      h3 {
        font-size: 16px;
      }
      p {
        text-decoration: none;
      }
    }
  }
  .Project_box:hover {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    border: 0;
    border-radius: 10px;
  }
}

// utility classes
.text-center {
  text-align: center !important;
}

.Mobile_icon {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .Mobile_icon {
    display: block !important;
    float: right;
    padding: 27px 24px 10px 10px;
    .fa-bars {
      font-size: 25px;
      color: #ffffff;
    }
    img {
      fill: white;
    }
  }
}

.center_box {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: rgba(19, 19, 19, 0.6);
  border-radius: 10px;
  padding: 30px;
  .box {
    height: auto;
    width: auto;

    .name {
      font-size: 20px;
    }

    .language {
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .center_box {
    width: 250px;
    h1,
    h2,
    h3,
    h4 {
      font-size: 14px;
      font-weight: 500;
    }
    .name {
      font-size: 14px !important;
    }
  }
}

.Social_media_position {
  background-color: white;
  display: flex;
  position: fixed;
  bottom: 3%;
  right: 3%;
  border-radius: 10px;
  padding: 5px;
  z-index: 10;

  img {
    width: 20px;
    height: 20px;
  }
  h6 {
    padding: 0;
    margin: 0;
    line-height: 22px;
    height: 20px;
    color: black;
    padding-left: 5px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  .Social_media_position {
    right: 7%;
  }
}

.social_media_list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  padding: 5px 7px 5px 7px;
  border-radius: 15px;
}

.social_media_list:hover {
  box-shadow: rgba(226, 226, 228, 0.2) 0px 7px 29px 0px;
}

.social_media_list img {
  width: 20px;
  height: auto;
}

.Social_media,
.social_media_list h6 {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
// Header Mobile Menu
.mobile {
  display: block !important;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block !important;
  }
  .menu_item {
    display: flex !important;
    flex-direction: column;
    text-align: end;
    height: 100vh;
    background-color: #000000;

    li {
      padding: 10px 0 10px 0;
    }
  }
  .hide {
    display: none !important;
  }
}

// blog section
.blog_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .blog_section_thumbnail_caro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    .blog_item {
      display: flex;
      flex-direction: row;
      gap: 20px;
      img {
        height: 200px;
        width: auto;
      }
    }
  }

  .blog_category {
    background-color: #242424;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    margin: 50px;
    span {
      font-size: 16px;
    }
  }
}

.section_name {
  padding: 60px 0 100px 0;
  justify-content: center;
  text-align: center;
}